body {
    background-color: #ede2cd !important;
}


form {
    display: inline;
    width: 90%;
    max-width: 600px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(35, 35, 35);
    padding: 10px;
    
}

#footer-bottom {
    position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 90px;
            background: white;
 }

.form-submit {

    display: inline-flex;
    margin: auto;
      margin-top: 250px; 
      margin-left: 1000px; 
      
}

textarea {
    resize: none;
}



input {
        border-top-style: hidden !important;
        border-right-style: hidden !important;
        border-left-style: hidden !important;
        border-bottom-style: groove;
        margin-top: 10px;
        
}

input:hover {
    border-bottom-color: royalblue;
}